venv
.vscode
__pycache__

apks
config.py

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
android-app/*.iml
android-app/captures/
android-app/.cxx/
